.m-btn {
  background-color: #019160;
  border-radius: 4px;
  height: 40px;
  font-size: 13px;
  color: #ffffff;
  font-size: MISA GoogleSans;
  text-align: center;
  padding: 0 24px 0 24px;
  border: none;
  cursor: pointer;
  min-width: 100px;
  text-align: center;
}
.m-btn:hover {
  background-color: #2FBE8E;
}
.m-btn:active {
  background-color: #01B075
  ;
}

.m-btn-icon {
  background-image: url(../../assets/icon/add.png);
  padding: 0 10px 0 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  padding-right: 16px;
  background-position-x: 16px;
  background-position-y:center ;
  background-size: 16px 16px;
}
